a:hover {
		background-color: yellow;
}
a:link {
    text-decoration: none;
}
center {
	font-weight:bold;
	color:green;
}
h5 {
	color:#ffa500;
}	
@font-face {
	font-family:"quicksand"
	src: url("C:\Users\Pat Grill\Documents\respo\pre-work\quicksand")
}